{% extends 'product/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}

    <section class="py-2 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="fw-light">РЕГИСТРАЦИЯ</h2>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <form method="post" novalidate class="my-custom-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-outline-secondary form-control">Регистрация
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}