{% extends 'product/base.html' %}
{% load tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}

    <section class="py-2 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="fw-light">ПРОФИЛЬ  {{ user }}</h2>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <form method="post" novalidate class="my-custom-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-outline-secondary form-control">Сохранить
                        </button>
                    </form>
                    <br>
                    <a class="btn btn-sm btn-outline-secondary form-control" href="{% url 'users:password_change' %}">
                        Сменить пароль</a>
                </div>
                <div class="col-md-4">
                    {% if user.avatar %}
                            <img src="{% media_path users.image %}" alt="No photo" class="mx-auto"/>
{#                                 style="height: 200px; width: 150px;"/>#}
                        {% else %}
                            <p class="text-center py-5">
                                Загрузите <br>
                                фото <br>
                            </p>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}